.wrapper
  = render 'shared/side_bar'
  .main-content
    .main-top
      .main-top__left
        .main-top__group  Group1
        .main-top__member MEMBER : yuto
      .main-top__right
        .main-top__edit   Edit
    .main-body
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

